#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.currentLyric {
    font-size: 2.5em; /* Increased font size to make it larger */
    color: #ff5733; /* Example color, feel free to choose one you prefer */
    text-shadow: 1px 1px 2px #000000; /* Adds a nice shadow effect */
}
